extends layout

block content
  .container.mt-4(style='padding-top: 70px;')
    h1= title

    each game in games
      .row.mb-4
        .col-md-12
          .card.mb-3
            .row.g-0
              .col-md-4
                img(src=game.image, alt=game.name, class="img-fluid game-image")
              .col-md-8
                .card-body
                  h5.card-title= game.name
                  p.card-text= game.description
                  p.card-text
                    small.text-muted Last updated #{game.lastUpdated}
